body{
	background: url(https://images.unsplash.com/photo-1539308589527-4fbbc6e1216f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0454daa09dabc1a3d3ffe34db0c4287a&auto=format&fit=crop&w=1947&q=80);
	background-position: center;
	background-size: cover;
	font-family: Lato;
/*	background-repeat: no-repeat;*/
/*	overflow: hidden;*/
}

.headline{
	padding: 10%;
	text-align: center;
	text-shadow: 0px 2px 2px grey;
	color: #F5F5F5;
	font-size: 5em;
}

.flash {
   animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: transparent;}
}

html{
	height: 100%;
}