body{
	background: url("HarveyFarRight-min.png");
	background-position: center;
	background-size: cover;
	/* font-family: Nunito; */
/*	background-repeat: no-repeat;*/
/*	overflow: hidden;*/
}


.spacer{
    padding: 3%;
}

.spacer1{
    padding: 3%;
}

.icon
{
    position: relative;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
}


.icon:before,
.icon:after
{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gold;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0;
    transition: 1s; 
    z-index: -1;    
}


.icon:after
{
    filter: blur(100px);
    /* transform: scale(10rem); */
}


.icon:hover:before,
.icon:hover:after
{
    opacity: 1;
}

.logo
{
    background-size: 3em;
    top: 25px;
    left: 15px;
    text-align: center;
    color:white;
    background: rgba(223, 203, 203, 0.308);
    transform: scale(1.5);
    font-size: 1em;
    border-radius: 100%;
}

.logo .fas
{
    text-shadow: 0 2 5px rgba(139, 74, 74, 0.2);
    transition: 0.5s;
    font-size: -2em;
    transform: rotateY(0deg) scale(1.2);
    opacity: 0.3;
}

.logo:hover .fas
{
    opacity: 1;
    transform: scale(1.5);
}


/* 
.typeContent{
    color: greenyellow;
    font-family: Ubuntu;
} */


.smallIcon{
    color: white;
}

.headline{
	padding-top: 9%;
	padding-bottom: 9%;
	text-align: center;
	text-shadow: 0px 2px 2px grey;
	color: #F5F5F5;
	font-weight: 200;
}

.contact-Info{
	bottom: 0;
	position: fixed;
}

.headings{
    padding-bottom: 3%;
}

.dividerTop{
    padding-top: 3%;
}

.title{
	font-size: 3rem;
}


.flash {
   animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: transparent;}
}


html{
	height: 100%;
}

img{
	width: 15%;
	background-color: transparent;
}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}


.description{
    color: white;
    font-size: 2em;
    /* text-shadow: 1px 1px 1px black; */
}

html{
	height: 100%;
}

.secondLine{
	padding-top: 1rem;
}


/* Contact */
ul{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0; */
    display: flex;
    
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    /* background: white; */
    text-decoration: none;
    content: #262626;
    margin: 0 10px;
    transition: 0.5s;
}

ul li a span{
    position: absolute;
    transition-duration: 0.5s;
}
/* Horizontal */
ul li a span:nth-child(1),
ul li a span:nth-child(3){
    
    width: 100%;
    height: 1px;
    background: #262626;
}

ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
/* bottom */

ul li a span:nth-child(3){
    bottom: 0;
    right: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

/* Vertical */
ul li a span:nth-child(2),
ul li a span:nth-child(4){
    width: 1px;
    height: 100%;
    background: #262626;
}
/* Left */
ul li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

/* Right */
ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}


/*http://www.modafinilsale.com/data/out/734/231109645-hd-simplistic-wallpapers.png*/
/*http://www.modafinilsale.com/data/out/734/231363425-hd-simplistic-wallpapers.png*/
/*https://images.unsplash.com/photo-1539308589527-4fbbc6e1216f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0454daa09dabc1a3d3ffe34db0c4287a&auto=format&fit=crop&w=1947&q=80*/
